In [9]:
# Import Libraries
import numpy as np
import pandas as pd
import geopandas as gpd
import os
import glob

In [22]:
def get_pt_files(directory):
    """
    Get a list of filenames in the specified directory, removing the .pt extension and data_ prefix.

    Parameters:
    directory (str): The path to the directory where the search will be conducted.

    Returns:
    list: A list of processed filenames.
    """
    # Use glob to find all .pt files in the directory
    pt_files = glob.glob(os.path.join(directory, 'data_*.pt'))
    
    # Process the filenames to remove the .pt extension and data_ prefix
    processed_filenames = [os.path.basename(file)[5:-3] for file in pt_files]
    
    return processed_filenames

In [16]:
annotation_df = pd.read_csv("/home/h6x/git_projects/gnn/model_1/data/raw/annotation_NOD.csv",dtype={'STCNTY': str})

In [17]:
DATA_PATH = '/home/h6x/git_projects/gnn/model_1/data/processed'

In [23]:
file_name_list = get_pt_files(DATA_PATH)

In [24]:
len(file_name_list)

3139

In [25]:
file_name_list[-1]

'08013'

In [26]:
annotation_df.head()

  STCNTY  percentile  NOD_Rate       NOD  percen_US
0  01001           2      10.9  0.161264          1
1  01003           3      14.9  0.193679          2
2  01005           0       5.2  0.115073          0
3  01007           4      23.1  0.260130          3
4  01009           4      19.9  0.234198          3

In [27]:
annotation_df['STCNTY']

0       01001
1       01003
2       01005
3       01007
4       01009
        ...
3135    56037
3136    56039
3137    56041
3138    56043
3139    56045
Name: STCNTY, Length: 3140, dtype: object

In [28]:
 # find the stcnty code in the annotation file that not in the file_name_list
missing_stcnty = annotation_df[~annotation_df['STCNTY'].isin(file_name_list)]

In [29]:
missing_stcnty

     STCNTY  percentile  NOD_Rate       NOD  percen_US
1814  35039           4      80.0  0.721232          4

In [30]:
# drop the missing stcnty code
annotation_df_NEW = annotation_df[annotation_df['STCNTY'].isin(file_name_list)]

In [31]:
annotation_df_NEW.shape

(3139, 5)

In [32]:
# save the new annotation file
annotation_df_NEW.to_csv('/home/h6x/git_projects/gnn/model_1/data/raw/annotation_NOD_without_missing_county.csv', index=False)